@import 'tailwindcss';

:root {
  font-family: 'Roboto', sans-serif;
  color: #000;
  margin: 0 auto;
  padding: 0 90px;
  max-width: 1200px;
  background-color: #f8f8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.modal-submit-btn {
  background: #1879d8;
  background: linear-gradient(
    90deg,
    rgba(24, 121, 216, 1) 30%,
    rgba(242, 238, 237, 0.655) 11%,
    rgb(236, 236, 236) 100%
  );
}

@media (width <= 1200px) {
  :root {
    padding: 0 30px;
  }
}
